@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 244, 244, 244;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 244, 244, 244;
    --background-end-rgb: 244, 244, 244;
  }
}
:focus:not(:focus-visible) {
  outline: none;
}
button:focus {
  outline: none;
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.CtaButton {
  display: inline-block;
  /* padding: 3px 0 6px; */
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  outline: none;
}
