@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spin-reverse {
  100% {
    transform: rotate(-1turn);
  }
}
*:focus:not(:focus-visible) {
  outline: none;
}

.animate-spin-slow {
  animation: spin 4s linear infinite;
}

.animate-spin-reverse-slower {
  animation: spin-reverse 6s linear infinite;
}
